.about {
  margin: 0.2rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
  padding: 1.8rem 1.9rem;
}

.about section {
  /* width: clamp(80rem, 80%, 90rem); */
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.about img {
  width: 100%;
}

.about h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.about p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.about section a {
  margin-top: 2rem;
}

@media screen and (max-width: 680px) {
 .about section {
  display: flex;
  flex-flow: column nowrap;
 }

}
