.app {
  height: calc(100vh - 4.8rem);
  display: grid;
  grid-template-columns: auto auto;
  overscroll-behavior-y: contain;
  position: relative;
}

.nav {
 background-color: antiquewhite;
}

@media (max-width: 680px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(300px, 1fr);
  }
 }