.app {
  height: 100vh;
  display: flex;
  overscroll-behavior-y: contain;
  position: relative;
}

.nav {
 background-color: antiquewhite;
}

@media screen and (max-width: 600px) {
 .app {
  display: flex;
  flex-flow: column nowrap;
 }
}