.nav {
 margin-top: 3rem;
 margin-bottom: 3rem;
}

.nav ul {
 background-color: var(--color-dark--1);
 border-radius: 3px;
 color: var(--color-light--2);
 display: flex;
 flex-flow: row nowrap;
 justify-content: flex-start;
 list-style: none;
}

.nav a:link,
.nav a:visited {
 color: inherit;
 border: 1px solid var(--color-dark--2);
 border-radius: 5px;
 font-size: 1.2rem;
 font-weight: bolder;
 margin: 0 0.1rem;
 padding: 0.5rem 2rem;
 text-decoration: none;
 text-transform: uppercase;
}

/* CSS Modules feature */
.nav a:global(.active) {
 background-color: var(--color-dark--0);
 color: var(--color-light--1);
}
