.btn {
  /* color: inherit; */
  color: var(--color-light--2);
  background-color: var(--color-dark--2);
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

.btn:hover {
 background-color: var(--color-dark--3);
}

.primary {
  font-weight: 700;
  /* background-color: var(--color-brand--2); */
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  padding: 2rem;
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
