.cityList {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 40vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 0.5rem;
 }
 
 .cities {
  margin-top: 3rem;
}

.cityList::-webkit-scrollbar {
  width: 0;
}
