.countryItem {
 background-color: var(--color-light--2);
 border-radius: 7px;
 color: var(--color-dark--2);
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 0.2rem;
 font-size: 1.7rem;
 font-weight: 600;
 padding: 1rem 2rem;
 border-left: 5px solid var(--color-brand--2);
}

.countryItem span:first-child {
  font-size: 3rem;
  line-height: 1;
}
