.logo {
 font-size: 1.8rem;
 font-family: 'Sora', sans-serif;
 letter-spacing: -0.4rem;
 height: 4rem;
 padding: 0;
 text-decoration: none;

 .globe {
  color: var(--color-light--2);
 }
 
 .log {
  color: var(--color-brand--1);
 }
}

