.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav a:link,
.nav a:visited {
 color: var(--color-light--1);
 font-size: 1.5rem;
 font-weight: 800;
 line-height: 3rem;
 text-transform: uppercase;
 text-decoration: none;
}

/* CSS Modules feature */
/* .nav a:global(.active) {
  color: var(--color-light--3);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
  padding: 0.8rem 2rem;
  border-radius: 7px;
} */
