.items {
 list-style: none;
 background-color: var(--color-dark--0);
 display: flex;
 flex-direction: column;
 margin: 0.2rem;
 padding: 1rem;
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 z-index: 900;
}
