.items {
 list-style: none;
 border: 1px solid var(--color-dark--2);
 background-color: var(--color-dark--1);
 display: flex;
 flex-direction: column;
 padding: 1rem;
 position: absolute;
 top: 9rem;
 right: 2rem;
}

li {
 color: var(--color-light--1);
 font-size: 20px;
 line-height: 4rem;
}

