.sidebar {
  flex-basis: 26rem;
  background-color: var(--color-dark--1);
  padding: 6rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-y: auto;
}

.sidebar a {
 text-decoration: none;
}

.sidebar ul {
 list-style: none;
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}
