.sidebar {
  flex-basis: 26rem;
  background-color: var(--color-dark--1);
  padding: 6rem 4rem 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(300vh - 4.8rem);
  height: auto;
}

.sidebar a {
 text-decoration: none;
}

.sidebar ul {
 list-style: none;
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}
