.user {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dark--3);
  padding: 0.4rem 0.4rem;
  z-index: 999;
  font-size: 1.6rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.user img {
  /* border-radius: 100px; */
  height: 4rem;
}

.user button {
  background-color: var(--color-dark--2);
  /* background-color: pink; */
  border-radius: 7px;
  border: none;
  padding: 0.6rem 1.2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
